<style>
    .message-container{
        font-family: Arial, Helvetica, sans-serif;
        max-width: 600px;
        font-size: 18px;
        line-height: 21px;
    }
</style>
<div class="message-container">
    <p>Olá, {{name}}</p>
    <p>Foi solicitado a alteração de sua senha.</p>
    <p>Favor clique no link abaixo para continuar com o processo de troca de senha.</p>
    <p><a href="{{link}}">Trocar minha senha</a>
    </p>
    <p>Caso desconheça a solicitação, favor ignorar esse email!</p>
    <p>Obrigado,<br /> <strong>Equipe Go Travel</strong></p>
</div>
